@charset "UTF-8";

html {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    padding: 15px;
}

table, th, td {
    border: 1px solid black;
}

td {
    background-color: lightgrey;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

td:hover {
    background-color: beige;
    cursor: grab;
    box-shadow: 1px 1px 5px grey;
    position: relative;
    top: -2px;
}
